
<h3 class="my-3">Quick links</h3>

<ul class="list-group">
    <li class="list-group-item">
        <a href="" class="list-group-item-action active">item 1</a>
    </li>
    <li class="list-group-item">
        <a href="" class="list-group-item-action">item 2</a>
    </li>
    <li class="list-group-item">
        <a href="" class="list-group-item-action">item 3</a>
    </li>
    <li class="list-group-item">
        <a href="" class="list-group-item-action">item 4</a>
    </li>
    <li class="list-group-item">
        <a href="" class="list-group-item-action">item 5</a>
    </li>
</ul>