
<h3 class="my-3">Data</h3>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Mohamed</td>
            <td></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Kamal</td>
            <td></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Walid</td>
            <td></td>
        </tr>
    </tbody>
</table>